
<div class="modal fade" id="modal_borrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalBor">Borrar usuarios</h5>
          <button type="button" class="btn-close" id="cerrarHB" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h1 style="margin-left:25px;">Selecciona el usuario</h1>
          <label for="clientes">Clientes</label>
          <select id="clientes" name="clientes" style="width: 90%;height: 40px;">
                                    
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="cerrarB">Close</button>
          <button type="button" class="btn btn-primary" id="borrarCL">Borrar</button>
        </div>
      </div>
    </div>
    <!-- {% block scriptBlock %}
      <script src="{% static 'js/clientes/crear_usuario.js' %}"></script>  
    {% endblock %} -->
  </div>
  